<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://addtags20200928201225.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7fa4f2ea-77cd-4629-8fb0-42988a97b934/resourcegroups/AddTags/providers/Microsoft.Web/sites/AddTags20200928201225</ResourceId>
    <UserName>$AddTags20200928201225</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://addtags20200928201225.scm.azurewebsites.net/</PublishUrl>
    <SCMUrl>https://addtags20200928201225.scm.azurewebsites.net/</SCMUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>